* {
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.center {
    text-align: center;
}

.container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(0,0,0, 0.2);
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
}

.right {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.left {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.left:hover, .right:hover {
    background-color: rgba(0,0,0, 0.3);
    transition: background-color 0.2s ease;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
    text-align: center;
}
  
.active, .dot:hover {
    background-color: #717171;
}

#caption {
    color: white;
    font-size: 22px;
    text-shadow: #717171 1px 1px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    cursor: default;
}

#counter {
    text-shadow: #717171 1px 1px;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute;
    top: 0;
    margin-top: 0;
    background-color:rgba(0,0,0, .4);
    user-select: none;
}